<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - uj targy</title>
</head>
<body>
<h1>Uj targy felvetel</h1>
<form data-th-object="${newItem}" data-th-action="@{admin/ujTargyFelvetel}" action="/admin/ujTargyFelvetel" method="post">

    <label for="type">Tipus</label>
    <select id="type" name="type" onchange="showFields()">
        <option value="book">Book</option>
        <option value="carrier">Carrier</option>
        <option value="babycare">Babycare</option>
    </select>

<!--    <div>-->
    <label for="name">Nev</label>
    <input id="name" type="text" data-th-field="*{name}">
    <p
            style="color: red"
            data-th-if="${#fields.hasErrors('name')}"
            data-th-error="*{name}"
    ></p>
<!--    </div>-->

<!--    <div>-->
    <label for="availability">Elérhetőség</label>
    <input id="availability" type="text" data-th-field="*{availability}">
    <p
            style="color: red"
            data-th-if="${#fields.hasErrors('availability')}"
            data-th-error="*{availability}"
    ></p>
<!--    </div>-->

<!--    <div>-->
    <label for="description">Leírás</label>
    <input id="description" type="text" data-th-field="*{description}">
    <p
            style="color: red"
            data-th-if="${#fields.hasErrors('description')}"
            data-th-error="*{description}"
    ></p>
<!--    </div>-->

<!--    <div>-->
    <label for="picture">Kép</label>
    <input id="picture" type="text" data-th-field="*{picture}">
    <p
            style="color: red"
            data-th-if="${#fields.hasErrors('picture')}"
            data-th-error="*{picture}"
    ></p>
<!--    </div>-->

    <label for="isActive">Is Active:</label>
    <select name="isActive" id="isActive">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>

<!--    <label for="isActive">Aktív?</label>-->
<!--    <input id="isActive" type="checkbox" data-th-field="*{isActive}" th:value="true">-->
<!--    <p-->
<!--            style="color: red"-->
<!--            data-th-if="${#fields.hasErrors('isActive')}"-->
<!--            data-th-error="*{isActive}"-->
<!--    ></p>-->

    <div id="bookFields" style="display: none;">
        <label for="author">Szerzo</label>
        <input id="author" type="text" data-th-field="*{author}">
        <p style="color: red" data-th-if="${#fields.hasErrors('author')}" data-th-error="*{author}"></p>
    </div>

    <div id="carrierFields" style="display: none;">
        <label for="carrierType">Tipus</label>
        <input id="carrierType" type="text" data-th-field="*{type}">
        <p style="color: red" data-th-if="${#fields.hasErrors('type')}" data-th-error="*{type}"></p>

        <label for="carrierBrand">Marka</label>
        <input id="carrierBrand" type="text" data-th-field="*{carrierBrand}">
        <p style="color: red" data-th-if="${#fields.hasErrors('carrierBrand')}" data-th-error="*{carrierBrand}"></p>

        <label for="size">Meret</label>
        <input id="size" type="text" data-th-field="*{size}">
        <p style="color: red" data-th-if="${#fields.hasErrors('size')}" data-th-error="*{size}"></p>
    </div>

    <div id="babycareFields" style="display: none;">
        <label for="babycareBrand">Marka</label>
        <input id="babycareBrand" type="text" data-th-field="*{babycareBrand}">
        <p style="color: red" data-th-if="${#fields.hasErrors('babycareBrand')}" data-th-error="*{babycareBrand}"></p>
    </div>

    <input type="submit" value="Save">
</form>

<script>
    function showFields() {
        const type = document.getElementById("type").value;
        if (type === "book") {
            document.getElementById("bookFields").style.display = "block";
            document.getElementById("carrierFields").style.display = "none";
            document.getElementById("babycareFields").style.display = "none";
        } else if (type === "carrier") {
            document.getElementById("bookFields").style.display = "none";
            document.getElementById("carrierFields").style.display = "block";
            document.getElementById("babycareFields").style.display = "none";
        } else if (type === "babycare") {
            document.getElementById("bookFields").style.display = "none";
            document.getElementById("carrierFields").style.display = "none";
            document.getElementById("babycareFields").style.display = "block";
        }
    }
    </script>

</body>
</html>