<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - uj targy</title>
</head>
<body>
<h1>Új tárgy felvétel</h1>
<form data-th-object="${newItem}" data-th-action="@{/admin/ujTargyFelvetel}" action="/admin/ujTargyFelvetel" method="post">

    <label for="type">Típus</label>
    <select id="type" name="type" onchange="showFields()">
        <option value="">Válassz egy opciót</option>
        <option value="book">Könyv</option>
        <option value="carrier">Hordozó</option>
        <option value="babycare">Babaápolás</option>
    </select>

    <label for="name">Név</label>
    <input id="name" type="text" data-th-field="*{name}"required><br><br>
    <p
            style="color: red"
            data-th-if="${#fields.hasErrors('name')}"
            data-th-error="*{name}"
    ></p>

    <label for="availability">Elérhetőség:</label>
    <select id="availability" name="availability" required>
        <option value="">Válassz egy opciót</option>
        <option value="Available">Szabad</option>
        <option value="Reserved">Foglalt</option>
        <option value="NotAvailable">Nem elérhető</option>
    </select><br><br>

    <label for="description">Leírás</label>
    <input id="description" type="text" data-th-field="*{description}" required><br><br>
    <p
            style="color: red"
            data-th-if="${#fields.hasErrors('description')}"
            data-th-error="*{description}"
    ></p>

    <label for="picture">Kép</label>
    <input id="picture" type="text" data-th-field="*{picture}">
    <p
            style="color: red"
            data-th-if="${#fields.hasErrors('picture')}"
            data-th-error="*{picture}"
    ></p>

    <label for="isActive">Aktív?:</label>
    <select name="isActive" id="isActive">
        <option value="true">Igen</option>
        <option value="false">Nem</option>
    </select>

    <div id="bookFields" style="display: none;">
        <label for="author">Szerző</label>
        <input id="author" type="text" data-th-field="*{author}">
        <p style="color: red" data-th-if="${#fields.hasErrors('author')}" data-th-error="*{author}"></p>
    </div>

    <div id="carrierFields" style="display: none;">

        <label for="carrierType">Típus:</label>
        <select id="carrierType" name="carrierType">
            <option value="">Válassz egy opciót</option>
            <option value="Wrap">Kendő</option>
            <option value="Buckle">Csatos</option>
            <option value="OtherShaped">Egyéb formázott</option>
        </select><br><br>

        <label for="carrierBrand">Márka</label>
        <input id="carrierBrand" type="text" data-th-field="*{carrierBrand}">
        <p style="color: red" data-th-if="${#fields.hasErrors('carrierBrand')}" data-th-error="*{carrierBrand}"></p>

        <label for="size">Méret</label>
        <input id="size" type="text" data-th-field="*{size}">
        <p style="color: red" data-th-if="${#fields.hasErrors('size')}" data-th-error="*{size}"></p>
    </div>

    <div id="babycareFields" style="display: none;">
        <label for="babycareBrand">Márka</label>
        <input id="babycareBrand" type="text" data-th-field="*{babycareBrand}">
        <p style="color: red" data-th-if="${#fields.hasErrors('babycareBrand')}" data-th-error="*{babycareBrand}"></p>
    </div>

    <input type="submit" value="Mentés">
</form>

<script>
    function showFields() {
        const type = document.getElementById("type").value;
        if (type === "book") {
            document.getElementById("bookFields").style.display = "block";
            document.getElementById("carrierFields").style.display = "none";
            document.getElementById("babycareFields").style.display = "none";
        } else if (type === "carrier") {
            document.getElementById("bookFields").style.display = "none";
            document.getElementById("carrierFields").style.display = "block";
            document.getElementById("babycareFields").style.display = "none";
        } else if (type === "babycare") {
            document.getElementById("bookFields").style.display = "none";
            document.getElementById("carrierFields").style.display = "none";
            document.getElementById("babycareFields").style.display = "block";
        }
    }
    </script>

</body>
</html>