<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kolcsonzesek</title>
</head>
<body>
<h1>Kolcsonzes lista:</h1>

<p th:if="${#lists.isEmpty(items)}">Nincs kolcsonozheto targy</p>

<ul th:unless="${#lists.isEmpty(items)}">
    <li th:each="item: ${items}">
        <b><p th:text="${item.name}">Targy nev</p></b>
        <p th:text="${item.item_id}">Id</p>
        <p th:text="${item.availability}">Foglalas</p>
        <p th:text="${item.description}">Leiras</p>
        <p th:text="${item.picture}">Kep</p>
        <p th:text="${item.isActive}">Elerheto-e</p>

        <div th:if="${item instanceof T(com.project.anyahajo.model.Book)}">
            <p th:text="${item.author}">Szerzo</p>
        </div>

        <div th:if="${item instanceof T(com.project.anyahajo.model.Carrier)}">
            <p th:text="${item.carrierBrand}">Marka</p>
            <p th:text="${item.size}">Meret</p>
            <p th:text="${item.type}">Tipus</p>
        </div>

        <div th:if="${item instanceof T(com.project.anyahajo.model.Babycare)}">
            <p th:text="${item.babycareBrand}">Marka</p>
        </div>

    </li>
</ul>
</body>
</html>