<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Termék adatmódosítás</title>
</head>
<body>
<h1>Termék módosítása</h1>
<form data-th-object="${newItem}" data-th-action="@{/admin/termekmodositas/{id}}" action="/admin/termekmodositas/{id}" method="post">

<!--  <p>Típus:</p>-->
<!--  <p data-th-text="${itemType}" id="type"></p>-->
<!--  <label for="type">Új típus</label>-->
<!--  <select id="type" name="type" onchange="showFields()">-->
<!--    <option value="">Choose an option</option>-->
<!--    <option value="book">Book</option>-->
<!--    <option value="carrier">Carrier</option>-->
<!--    <option value="babycare">Babycare</option>-->
<!--  </select>-->

  <p>Termék neve:</p>
  <p data-th-text="${item.name}"></p>
  <label for="name">Új név:</label>
  <input id="name" type="text" data-th-field="*{name}"><br><br>

<!--  <p>Elérhetőség:</p>-->
<!--  <p data-th-text="${item.availability}"></p>-->
<!--  <label for="availability">Új elérhetőség:</label>-->
<!--  <select id="availability" name="availability" required>-->
<!--    <option value="">Choose an option</option>-->
<!--    <option value="Available">Available</option>-->
<!--    <option value="Reserved">Reserved</option>-->
<!--    <option value="NotAvailable">Not Available</option>-->
<!--  </select><br><br>-->

  <p>Leírás:</p>
  <p data-th-text="${item.description}"></p>
  <label for="description">Új leírás:</label>
  <input id="description" type="text" data-th-field="*{description}"><br><br>

  <p>Kép:</p>
  <p data-th-text="${item.picture}"></p>
  <label for="picture">Új kép:</label>
  <input id="picture" type="text" data-th-field="*{picture}">
  <p
          style="color: red"
          data-th-if="${#fields.hasErrors('picture')}"
          data-th-error="*{picture}"
  ></p>

  <p>Termék állapota:</p>
  <p data-th-text="${item.isActive}"></p>
  <label for="isActive">Termék állapotának módosítása:</label>
  <select name="isActive" id="isActive">
    <option value="true">Yes</option>
    <option value="false">No</option>
  </select>

  <div th:if="${item instanceof T(com.project.anyahajo.model.Book)}">
    <p>Szerző:</p>
    <p data-th-text="${item.author}"></p>
    <label for="author">Szerző módosítása:</label>
    <input id="author" type="text" data-th-field="*{author}">
    <p style="color: red" data-th-if="${#fields.hasErrors('author')}" data-th-error="*{author}"></p>
  </div>

  <div th:if="${item instanceof T(com.project.anyahajo.model.Carrier)}">

    <p>Típus:</p>
    <p data-th-text="${item.carrierType}"></p>
    <label for="carrierType">Típus módosítása:</label>
    <select id="carrierType" name="carrierType">
      <option value="">Choose an option</option>
      <option value="Wrap">Wrap</option>
      <option value="Buckle">Buckle</option>
      <option value="OtherShaped">OtherShaped</option>
    </select><br><br>

    <p>Márka:</p>
    <p data-th-text="${item.carrierBrand}"></p>
    <label for="carrierBrand">Márka módosítása:</label>
    <input id="carrierBrand" type="text" data-th-field="*{carrierBrand}">
    <p style="color: red" data-th-if="${#fields.hasErrors('carrierBrand')}" data-th-error="*{carrierBrand}"></p>

    <p>Méret:</p>
    <p data-th-text="${item.size}"></p>
    <label for="size">Méret módosítása:</label>
    <input id="size" type="text" data-th-field="*{size}">
    <p style="color: red" data-th-if="${#fields.hasErrors('size')}" data-th-error="*{size}"></p>
  </div>

  <div th:if="${item instanceof T(com.project.anyahajo.model.Babycare)}">
    <p>Márka:</p>
    <p data-th-text="item.babycareBrand"></p>
    <label for="babycareBrand">Márka módosítása:</label>
    <input id="babycareBrand" type="text" data-th-field="*{babycareBrand}">
    <p style="color: red" data-th-if="${#fields.hasErrors('babycareBrand')}" data-th-error="*{babycareBrand}"></p>
  </div>

  <input type="submit" value="Save">
</form>

<!--<script>-->
<!--  document.addEventListener("DOMContentLoaded", function() {-->
<!--    showFields();-->
<!--  });-->
<!--</script>-->
<!--  <script>-->
<!--  function showFields() {-->
<!--    const type = document.getElementById("type").value;-->
<!--    if (type === "book") {-->
<!--      document.getElementById("bookFields").style.display = "block";-->
<!--      document.getElementById("carrierFields").style.display = "none";-->
<!--      document.getElementById("babycareFields").style.display = "none";-->
<!--    } else if (type === "carrier") {-->
<!--      document.getElementById("bookFields").style.display = "none";-->
<!--      document.getElementById("carrierFields").style.display = "block";-->
<!--      document.getElementById("babycareFields").style.display = "none";-->
<!--    } else if (type === "babycare") {-->
<!--      document.getElementById("bookFields").style.display = "none";-->
<!--      document.getElementById("carrierFields").style.display = "none";-->
<!--      document.getElementById("babycareFields").style.display = "block";-->
<!--    }-->
<!--  }-->
<!--</script>-->

</body>
</html>