<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>Jelszó visszaállítása</title>
</head>
<body>
<h1>Jelszó visszaállítása</h1>
<p>Név:</p>
<p data-th-text="user.name"></p>
<p>E-mail cím:</p>
<p data-th-text="user.email"></p>
<form data-th-object="${newUser}" data-th-action="@{'/reset-password'}" action="/reset-password" method="post">
<!--  <input type="hidden" name="token" value="${token}">-->
<!--  <label for="password">Új jelszó:</label>-->
  <!--  <input type="password" id="password" name="password" required>-->
  <!--  <br>-->
  <!--  <label for="confirmPassword">Új jelszó megerősítése:</label>-->
  <!--  <input type="password" id="confirmPassword" name="confirmPassword" required>-->
  <!--  <br>-->

  <label for="password"><b>Jelszó</b></label>
  <input id="password" type="password" placeholder="Jelszó" data-th-field="*{password}">
  <p
          style="color: red;"
          data-th-if="${#fields.hasErrors('password')}"
          data-th-errors="*{password}"
  ></p>

  <label for="passwordCheck"><b>Jelszó megerősítés</b></label>
  <input id="passwordCheck" type="password" placeholder="Jelszó megerősítés" data-th-field="*{passwordCheck}">
  <p style="color: red;" data-th-if="${#fields.hasErrors('passwordCheck')}" data-th-errors="*{passwordCheck}"></p>
  <hr>
  <button type="submit" value="Save" class="registerbtn">Jelszó megváltoztatása</button>
</form>
</body>
</html>
