<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sikeres igény leadás</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        table.center {
            margin-left: auto;
            margin-right: auto;
        }
        body
        {
            background: -webkit-linear-gradient(to right, #a75888, #1f88b4);
            background: linear-gradient(to right, #a75888, #1f88b4);
        }
    </style>
</head>
<body>
<p>A kölcsönzési igényedet sikeresen elküldted.</p>
<!--    <p>Az alábbi termékekkel kapcsolatos kölcsönzési igényedet sikeresen elküldted.</p>-->
<!--    <p>Termék neve:</p>-->
<!--    <ul data-th-each="name: ${basket}">-->
<!--        <li data-th-text="${name}">Hordozó</li>-->
<!--    </ul>-->
</body>
</html>