<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sikeres aktivacio</title>
    <style>
        body{
            font-family:sans-serif;
            background: linear-gradient(to right, #a75888, #1f88b4);
            color:whitesmoke;
            margin-top: 40px;
        }
    </style>
</head>
<body>
<h1>Fiok sikeresen aktivalva</h1>
<a data-th-href="@{'/login'}" href="/login"><button type="submit">vissza a bejelentkezéshez</button> </a>
<a data-th-href="@{'/#menu'}" href="/#menu"><button type="submit">vissza a főoldalhoz</button> </a>
</body>
</html>