<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success reset</title>
    <style>
        body{
            font-family:sans-serif;
            background: linear-gradient(to right, #a75888, #1f88b4);
            color: #ffeeee;
            margin-top: 40px;
        }
    </style>
</head>
<body>
  <h1>Email Sikeresen elküldve</h1>
  <a href="login.html"><button type="submit">vissza a bejelentkezéshez</button></a>
  <a href="home.html"><button type="submit">vissza a főoldalhoz</button></a>
</body>
</html>